<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<main style="margin-bottom: 4rem">
    <div class="container my-2">
        <div class="row">
            <button type="button" class="btn btn-primary mx-3" data-toggle="modal" data-target='#create'>
                Create
            </button>
            <div class="modal" tabindex="-1" role="dialog" id="create">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create City</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:object="${city}" th:action="@{/create}" method="post">
                            <div class="modal-body">
                                <input class="form-group form-control" th:field="*{name}" type="text" placeholder="Insert Name">
                                <input class="form-group form-control" th:field="*{area}" type="number" placeholder="Insert Area">
                                <input class="form-group form-control" th:field="*{population}" type="number" placeholder="Insert Population">
                                <input class="form-group form-control" th:field="*{gdp}" type="number" placeholder="Insert GDP">
                                <input class="form-group form-control" th:field="*{description}" type="text" placeholder="Insert Description">
                                <select th:field="*{country.id}">
                                    <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}">
                                    </option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="text-white btn btn-primary" th:text="Create">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <table class="table">
            <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">City</th>
                <th scope="col">Country</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="city : ${cities}" class="text-center">
                <th scope="row" th:text="${city.id}"></th>
                <th scope="row" ><a th:href="@{/show/__${city.id}__}" th:text="${city.name}"></a></th>
                <th scope="row" th:text="${city.country.name}"></th>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal">
                        <a th:href="@{/edit/__${city.id}__}" class="text-white"> Edit</a>
                    </button>
                    <span>|</span>
                    <button type="button" class="btn btn-primary" data-toggle="modal" th:data-target="'#delete'+${city.id}">
                        Delete
                    </button>
                    <div class="modal" tabindex="-1" role="dialog" th:id="'delete'+${city.id}">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Confirm Delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ><form th:action="@{/delete/__${city.id}__}" method="get"> <input type="submit" class="text-white">Delete</input></form></button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</main>
</body>
</html>